<div class="form-container mt-5">
<h3>Create New List</h3>
  <div class="row">
    <%= simple_form_for(@list) do |f| %>

      <div class=" col form-inputs">
        <%= f.input :name %>
        <%#= f.input :image_url %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="col form-actions">
        <%= f.submit "Create List", class: "btn btn-ghost mt-2" %>
      </div>
    <% end %>
  </div>
</div>
