<div class="form-container row mt-5">
    <%= simple_form_for [ @list, @bookmark ] do |f| %>
      <div class="col form-inputs">
        <%= f.input :comment %>
        <%= f.association :movie %>
      </div>
      <div class="col form-actions">
        <%= f.submit "Submit Bookmark", class: "btn btn-ghost mt-2" %>
      </div>
    <% end %>
</div>
